*.DS_Store
*.pyc
*.swp
temp/*
dist/*
build/*
keras/datasets/data/*
keras/datasets/temp/*
docs/site/*
docs/theme/*
tags
*.txt
*.model
*.data
*.label
memory_network/config_local.py
memory_network/experiment_douban.py
memory_network/experiment_ubuntu.py